.loginPage{

--background: url(../../assets/img/bg.jpg) 0 0/100% 100% no-repeat;

}

.backgroundTitle{

--background: transparent;
color: white;
//font: 150px Arial, sans-serif;
}

.fontTitle{

    font: 50px Wedding Gothic ATF Book;
}

.card{

    border: 0px solid transparent;
    border-radius: 10px;
}

.headerCard{

    background-color: rgb(33,150,243);
}

.buttonLogin{

    //color: rgb(33,150,243);
}

ion-card-title{

    color: white;
}