<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>

      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
     </ion-buttons>
    <ion-title>page2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
   
    <p>Explorezzzzz <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>